
 /* boton -*/
 .Count1{ 

    margin-left: 10%;
    margin-top: 37px; 
    position: fixed;
    padding: -10PX;   
      
  }
  
   /* Contador */
  .Count2{
      text-align: center;
     
     
  }
  
   /* boton +*/
  .Count3{
      position: fixed;
      text-align: center;
      margin-top: -20%;
      margin: 2px;
    
  }
  /* boton Agregar al Carrito*/
  .Count4{
      position: fixed;
      text-align: center;
      margin: 2px;
      top: auto;
      
  }


  /* {cart.map((p)=>(
    <CartItem key={p.id} producto={p} ComprarProducto={ComprarProducto}/>
))} */


/* 
// collection filtrada

const [products,setProducts] = useState([])

useEffect(()=>{
   const db = getFirestore()
   const q = query  (
    collection(db, "Item1"),
    where("precio", "<=", 3000)
   )

getDocs(q).then((snapshot)=>{

  if(snapshot.size ===0){
    console.log("No hay Resultados")
  }

  setProducts(snapshot.docs.map((doc) => (
    {id: doc.id,...doc.data()}

  )))


}, [] )
console.log(products) */
